@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.page-wrapper{
  height: 100vh;
}


.content{
  display: flex;

}

.sidebar{
  width: 300px;
  height: 100vh;
  background-color: #2125f8;
  color: #c7d4fc;
}

.departement-item{
  padding: 5px 10px;
  margin: 5px;
  border-radius: 50px;
  width: 90%;
}

.students-section{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 32px;
}

.searchbar{

}

.searchbar form input {
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #3C50CB;
}

.departement-item:hover, .departement-active{
  background-color: #3C50CB;
  color: white;
}

.feliere-list{
  width: 300px;
  height: 100vh;
  background-color: #242527;
  color: #c7d4fc;
}

.feliere-item:hover, .feliere-active{
  background-color: #3A3B3D;
   color: white;
 }

.feliere-item{
  padding: 5px 10px;
  margin: 5px;
  border-radius: 50px;
  width: 90%;
}

a{
  color: inherit;
}

.recherche-btn{
  padding: 7px 32px;
  color: #bdd2fc;
    min-width: fit-content;
    border-radius: 5px;
  background: #3C50CB;
  transition: all .3s ease-in-out;
}

.recherche-btn:hover{
  color: #ffffff;
  background: #0e2194;
}

.students-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

table, td{
  border: 1px solid #3C50CB;
  border-collapse: collapse;
}

th{
  background: #3C50CB;
  color: white;
  font-weight: bold;
}

td{
  color: #3C50CB;;
}

th, td{
  padding: 5px 20px;
}

body {
	font-family: "Lato", sans-serif;
}

.container {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 90vh;
	position: relative;
}

.field {
	display: flex;
	flex-direction: column;
}

.form {
	display: flex;
	align-items: flex-end;
	gap: 20px;
}

label {
	color: rgb(87, 86, 86);
	font-weight: bold;
}

input,
select {
	padding: 10px;
	border-radius: 5px;
	outline: none;
	border: 1px solid rgb(192, 192, 192);
}

select {
	width: 200px;
}

.flex-col {
	flex-direction: column;
	align-items: stretch;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	justify-items: flex-end;
}

.button {
	height: fit-content;
	padding: 10px 32px;
	background-color: #215af8;
	transition: all 0.3s ease-in-out;
	color: rgb(221, 221, 221);
	border-radius: 5px;
	font-weight: 700;
	border: none;
	/*width: 100%;*/
}

.button:hover {
	background-color: #2125f8;
	color: white;
}

.congrats {
	color: #2125f8;
}

.link {
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: black;
}

.link:hover {
	color: #215af8;
}

.consult-button {
	position: absolute;
	top: 20px;
	right: 20px;
	/*max-width: 125px;*/
	text-decoration: none;
	background-color: #03c988;
}

.consult-button:hover {
	background-color: #038157;
    max-width: fit-content;
}

.header{
    padding: 10px;
    display: flex;
    height: 40px;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    background-color: #242527;
}

.header > a{
    border-radius: 4px;
    background-color: #4459E8;
}

.navbar-link{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    background-color: #03c988;
}

.navbar-link:hover{
    text-decoration: underline;
}
